.showcase {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .showcase-text {
    padding: 2rem;
    text-align: center;
  }

  .tg-btn-inverse {
    color: #fff;
    background-color: #0088cc;
  }

  .tg-btn-inverse:hover {
    color: #0088cc;
    border-color: #0088cc;
    background-color: #fff;
  }

  @media (min-width: 768px) {
    .showcase-text {
      padding: 0 7rem;
    }
    img {
      max-width: 80%;
    }
  }

  .carousel-indicators {
    li {
      height: 7px;
      background-color: #e6d5d5;
    }

    .active {
      background-color: #7f878f;
    }
  }
}
